@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  color: #a7ce39;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

img {
  display: block;
}

.py {
  padding: 60px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

@media (max-width: 769px) {
  .container {
    width: 90%;
  }
}

/*------- GLOBAL -------*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a7ce39;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

h1 {
  text-align: right;
  font-size: 5.5rem;
  line-height: 1.2;
  letter-spacing: 5px;
  word-spacing: 10px;
}

h2 {
  font-size: 8em;
}

.muted {
  width: 100%;
  position: absolute;
  left: 0;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  text-align: left;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

hr {
  border: none;
  outline: none;
  height: 15px;
  background-color: #a7ce39;
}

/*---------------------------------*/
/* nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  padding: 20px 2%;
  width: 100%;
  z-index: 10;
  -webkit-transition: background-color 0.3s ease, padding 0.3s ease;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

nav.scrolled {
  padding: 5px 2%;
  background-color: rgba(71, 55, 51, 0.7);
}

nav div {
  height: 70px;
}

nav .hamburgerMenu {
  font-size: 1em;
  cursor: pointer;
}

@media (min-width: 1151px) {
  nav .hamburgerMenu {
    display: none;
  }
}

nav .hamburgerMenu i {
  font-size: 1.5em;
  padding: 0.4em 0.8em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 1150px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    text-align: right;
    background-color: rgba(71, 55, 51, 0.95);
    padding: 30px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
}

nav ul.showMenu {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

nav ul li {
  margin: 0 50px;
  font-size: 1.3rem;
}

@media (max-width: 1150px) {
  nav ul li {
    margin: 20px 0;
  }
}

nav ul li.active {
  color: #a7ce39;
}

nav ul li a:hover {
  color: #a7ce39;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 55, 51, 0.7)), to(rgba(71, 55, 51, 0.7))), url(../img/header-bg.jpg);
  background-image: linear-gradient(rgba(71, 55, 51, 0.7), rgba(71, 55, 51, 0.7)), url(../img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

header article {
  z-index: 1;
  padding-top: 100px;
}

header .muted {
  top: 100px;
  font-size: 13vw;
  text-transform: uppercase;
  line-height: 0.8;
}

header .muted span {
  font-size: 19vw;
}

/* usluge */
.usluge {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 55, 51, 0.3)), to(rgba(71, 55, 51, 0.3))), url(../img/usluge-bg.jpg);
  background-image: linear-gradient(rgba(71, 55, 51, 0.3), rgba(71, 55, 51, 0.3)), url(../img/usluge-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.usluge article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.usluge article div:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
}

.usluge article div:first-child p {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.usluge article div:first-child p span {
  color: #a7ce39;
}

.usluge article div:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  background-color: #fff;
  padding: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.usluge article div:last-child h4 {
  color: #a7ce39;
  font-size: 2rem;
  margin-bottom: 30px;
  line-height: 1.3;
}

.usluge article div:last-child p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}

.usluge article div:last-child a {
  margin-top: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #a7ce39;
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  font-size: 1.3rem;
  line-height: 1.1;
  position: relative;
  padding-right: 30px;
}

.usluge article div:last-child a::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2em;
  height: 100%;
}

.usluge .muted {
  padding: 0 1%;
  font-size: 3.9rem;
  bottom: 20px;
  line-height: 1.3;
}

/* kontakt */
.kontakt {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 55, 51, 0.3)), to(rgba(71, 55, 51, 0.3))), url(../img/kontakt-bg.bmp);
  background-image: linear-gradient(rgba(71, 55, 51, 0.3), rgba(71, 55, 51, 0.3)), url(../img/kontakt-bg.bmp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.kontakt h2 {
  text-align: center;
}

.kontakt article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 80px;
}

.kontakt article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.kontakt article div:first-child ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.kontakt article div:first-child ul li i {
  display: inline-block;
  width: 2em;
  font-size: 1.5em;
  position: relative;
  color: #a7ce39;
}

.kontakt article div:first-child iframe {
  width: 90%;
  height: 300px;
}

.kontakt article div:last-child {
  padding: 0 5%;
}

.kontakt article div:last-child form {
  width: 100%;
}

.kontakt article div:last-child form input,
.kontakt article div:last-child form textarea,
.kontakt article div:last-child form button {
  font-family: "Open Sans", sans-serif;
  color: #a7ce39;
  font-weight: 600;
  font-size: 1.8rem;
  width: 100%;
  padding: 30px;
}

.kontakt article div:last-child form input::-webkit-input-placeholder,
.kontakt article div:last-child form textarea::-webkit-input-placeholder,
.kontakt article div:last-child form button::-webkit-input-placeholder {
  text-transform: uppercase;
}

.kontakt article div:last-child form input:-ms-input-placeholder,
.kontakt article div:last-child form textarea:-ms-input-placeholder,
.kontakt article div:last-child form button:-ms-input-placeholder {
  text-transform: uppercase;
}

.kontakt article div:last-child form input::-ms-input-placeholder,
.kontakt article div:last-child form textarea::-ms-input-placeholder,
.kontakt article div:last-child form button::-ms-input-placeholder {
  text-transform: uppercase;
}

.kontakt article div:last-child form input::placeholder,
.kontakt article div:last-child form textarea::placeholder,
.kontakt article div:last-child form button::placeholder {
  text-transform: uppercase;
}

.kontakt article div:last-child form input {
  margin-bottom: 30px;
}

.kontakt article div:last-child form textarea {
  height: 150px;
  margin-bottom: 30px;
}

.kontakt article div:last-child form button {
  background-color: #a7ce39;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.kontakt article div:last-child form button:hover {
  background-color: #707070;
}

.kontakt .muted {
  padding: 0 1%;
  text-transform: uppercase;
  font-size: 9vw;
  bottom: 20px;
  text-align: center;
}

/* linkovi */
.linkovi h2 {
  color: #a7ce39;
}

.linkovi article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
}

.linkovi article a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: block;
  margin-bottom: 60px;
}

.linkovi article a img {
  height: 150px;
  margin: 0 auto;
}

/* footer */
footer {
  background-color: #a7ce39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

footer article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

footer article h4 {
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: none;
}

footer article li {
  font-size: 1.3rem;
}

footer article:nth-child(1) {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer article:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer article:nth-child(2) ul li {
  font-size: 1.3rem;
}

footer article:nth-child(2) ul li a {
  font-weight: 600;
  line-height: 1.7;
}

footer article:nth-child(2) ul li a:hover {
  color: #473733;
}

footer article:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer article:nth-child(3) li {
  margin-bottom: 30px;
}

footer article:nth-child(3) li:first-child {
  margin-bottom: 10px;
}

footer article:nth-child(4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

footer article:nth-child(4) li {
  margin-bottom: 5px;
}

footer article:nth-child(4) li a {
  text-decoration: underline;
}

footer article:nth-child(4) li:first-child {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */