@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
$textFont: "Open Sans", sans-serif;
$fontSize: 16px;

$white: #fff;
$green: #a7ce39;
$black: #000;
$gray: #707070;
$brown: #473733;

$transition: 0.3s ease;

$boxShadow: 0 5px 10px 0px rgba($white, 0.5);

$py: 60px 0;
$width: 90%;
